* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary : hsl(257, 48%, 62%);
    --primary-dark: hsl(257,80%,42%);
    --light: hsl(278, 100%, 98%);
    --dark: hsl(270, 9%, 22%);
}

body {
    color: var(--dark);
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid var(--dark);
}

.item {
    width: 100px;
    height: 80px;
    background-color: var(--primary);
    padding: 1em;
    font-weight: 700;
    color: var(--light);
    text-align: center;
    border: 4px solid var(--primary-dark);
    border-radius: 4%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}
/* aligning item to main axis using justify content */
/* aligning item to cross axis using align items */

.item__3 {
    order: 5;
}
/* align self overwrites align items of parent */
.item__2 {
    order: 6;
}